@if (pageInfo !== undefined) {
  @if (pageInfo !== null) {
    <p>{{ pageInfo.title }}</p>
    @if (isPageInReadingList) {
      <button (click)="removeFromReadingList(pageInfo)">Remove from read list</button>
    } @else {
      <button (click)="addToReadingList(pageInfo)">Add to read list</button>
    }
  } @else {
     <p>No access to the page</p>
  }
  <ul class="reading-list">
    @for (readItem of readingList; track readItem.url) {
      <li>
        <button (click)="removeFromReadingList(readItem)">Remove</button>
        <a href="{{ readItem.url }}" target="_blank">{{ readItem.title }}</a>
      </li>
    }
  </ul>
}
