@if (pageInfo !== undefined) {
  <ng-template #actions>
    <div class="actions">
      <a href="https://t.me/+11qkHO82v2llYjNi" target="_blank"
         title="Do you have any idea, suggestion? &#013;Send you message in our Telegram group!"
         class="button telegram">
        <svg-icon src="icons/telegram.svg"/>
      </a>
      <button class="btn-ico settings"
              title="Show/hide settings"
              (click)="isSettingsVisible = !isSettingsVisible">
        <svg-icon src="icons/settings.svg"/>
      </button>
    </div>
  </ng-template>

  @if (isSettingsVisible) {
    <app-settings></app-settings>
  }

  @if (pageInfo !== null) {
    <div class="header">
      <div class="bookmark">
        @if (isPageInReadingList) {
          <button (click)="removeFromReadingList(pageInfo)" class="btn-remove"
                  title="Remove from the Reading List">
            <svg-icon src="/icons/remove.svg"/>
            <span>{{ pageInfo.title }}</span>
          </button>
        } @else {
          <button (click)="addToReadingList(pageInfo)" class="btn-add"
                  title="Add to the Reading List">
            <svg-icon src="/icons/add.svg"/>
            <span>Add "{{ pageInfo.title }}"</span>
          </button>
        }
      </div>
      <ng-container *ngTemplateOutlet="actions"></ng-container>
    </div>
  } @else {
    <ng-container *ngTemplateOutlet="actions"></ng-container>
  }

  @if (readingList?.length) {
    <h2>Don't Read Later. Read Now!</h2>
    <app-brief-statistics></app-brief-statistics>
    <ul class="reading-list">
      @for (readItem of readingList; track readItem.url) {
        @let timeLeft = readingListService.getTimeLeft(readItem);
        @if (timeLeft > 0) {
          <li [class.soon-outdated]="readingListService.isTimeLeftSoonOutdated(timeLeft)">
            <a href="{{ readItem.url }}" target="_blank">
              <button (click)="removeFromReadingList(readItem); $event.preventDefault()"
                      title="Remove from the Reading List"
                      class="btn-ico btn-remove">
                <svg-icon src="/icons/remove.svg"/>
              </button>
              <span class="time-left">{{ timeLeft | secondsToTimeString }}</span>
              <span class="title">{{ readItem.title }}</span>
            </a>
          </li>
        }
      }
    </ul>
  } @else {
    @if (statistics !== undefined) {
      @if (statistics.read > 0) {
        <h2>Everything's been read. Good job!</h2>
      } @else {
        <h2>Nothing to read yet. Add something to the list.</h2>
      }
    }
    <app-brief-statistics></app-brief-statistics>
  }
}
