/* You can add global styles to this file, and also import other style files */

html, body {
  font-size: 16px;
  font-family: Verdana, Arial, sans-serif;
}

button.btn-ico {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;

  svg {
    max-width: 100%;
    max-height: 100%;
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}
